.div_overlay {
    display: none;
    position: fixed;
    inset: 0;
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
}
.div_input_event {
    width: 600px;
    height: 500px;
    background-color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    outline-style: solid;
    outline-width: 2px;
    border-color: #211A51;
    border-radius: 20px;
    margin: 10px;
}
.div_input_event_info {
    width: 600px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.div_input_event_inputrow {
    width: 300px;
    display: flex;
    flex-direction: column;
}
.div_input_event_top {
    display: flex;
    align-items: center;
}
.div_input_event_icon {
    width: 50px;
    height: 50px;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_input_event_text {
    width: 225px;
    height: 50px;
    display: flex;
    align-items: center;         
}
.div_input_event_description {
    width: 600px;
    height: 150px;
}
.div_input_event_buttons {
    width: 600px;
    height: 50px;
}

.input_input_event_input {
    width: 250px;
    height: 30px;
    border-radius: 10px;
    margin-left: 25px;
    font-size: 14px;
    border-style: solid;
}
.para_input_event_text{
    text-align: left;
    font-size: 16px;
}
.select_input_event {
    width: 250px;
    height: 35px;
    border-radius: 10px;
    margin-left: 25px;
    font-size: 14px;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
}
.option_input_event {
    font-size: 14px;
}
.div_input_event_description_top {
    width: 600px;
    height: 50px;
    display: flex;
}
.textarea_input_event_description {
    width: 550px;
    height: 90px;
    border-radius: 10px;
    margin-left: 25px;
    font-size: 14px;
    border-style: solid;
    border-width: 2px;
}
.button_event_create_close {  
    color: white;
    background-color: #211A51;
}
.div_input_event_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}